.my_profile{
  background-color: black;
  width: 100%;
  /* height:100vh; */
}
.navbar{
  /* width:100%; */
  background-color:rgb(174 171 171);
  /* height:45px; */
  display:flex ;
  justify-content:space-between;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
  padding-top:10px ;
  padding-bottom:10px;
  margin: 0px 58px;
  margin-top:40px;
  border-radius:15px;
}
.menu{
  cursor: pointer;
  color: black;
  /* padding: 5px; */
  border-radius: 20px;
  gap: 10px;
  display: flex;
  flex-direction: row;
}
.menu_text{
  text-align: center;
}
.home{
  font-size:18px;

}
.home:hover{
  background-color: #EFAE02;

}
.navtext{
  color:#000000;
  font-size:30px;
}
.namesection{
  display:flex;
  gap:5px;
}
.name{
  color:white;
  font-size: 60px;
}
.heroSection{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
  gap: 9px;
}
.colorname{
  color:#EFAE02;
}
.para1{
  color:white;
}
.textbold{
  font-size:20px;
    font-weight: 500;
    word-spacing:8px;
}
.para1{
  font-size:20px;
}
.work{
  color:white;
  font-size: 20px;
}
.year{
  color: #EFAE02;
  border: 2px solid #2c2c2c;
  padding: 6px;
  border-radius: 15px;
  background-color: #2c2c2c;
  font-weight: 900;
  padding: 2px 26px;
}
.navbar_responsive{
  width: 100%;
  color: white;
  height:100vh;
  background-color: #000000;
  /* display: none; */
}
.skillImges{
  display: block;
    width:30%;
    margin-left: auto;
    margin-right: auto;
  
}

@media only screen and (max-width:767px){
  .namesection{
   padding:0px 50px;
  }
  .para1{
    padding:0px 50px;
  }
  .textbold{
    font-size:10px;
  }
  .navbar{
    margin: 0px 15px ;
    margin-top: 30px;
  }
  .skillImges{
    display: block;
    width:50%;
    margin-left: auto;
    margin-right: auto;
  }
  .menu{
    width: 6%;
    background-color: black;
    color: white;
    padding: 5px;
    border-radius: 20px;
    width: 24%;
      height: 29px ;
     display:none;
  }
}